# IDE
.idea/

# Visual Studio / .NET
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
*UpgradeReport*Files/
[Pp]ackages/
*.DotSettings.user
TestResults/

# Project specific
JobScraper.Api/logs/
.env.dev

# Database and logs
data/
