# .gitignore for your JobScraper project

# Rider
.idea/
*.DotSettings.user
*.sln.DotSettings.user

# .NET
bin/
obj/
*.user
.vs/

# User secrets
*.DotSettings.user
*.sln.DotSettings.user
*.user.DotSettings
JobScraper.sln.DotSettings.user
